body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
header{
    flex: auto;
}
footer{
    flex: auto;
}
*{
    background-color: rgb(91, 73, 253);
    color: white;
}